@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/tomato-dot.css";
@import "components/icon-raw.css";
@import "components/alt-header.css";
@import "components/no-mobile.css";
@import "components/no-landscape.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "screens/chat-nico.css";
@import "screens/chat-alien.css";
@import "screens/chats.css";
@import "screens/profile.css";

body {
    font-family: "Open Sans", sans-serif;
    color: #2e363e;
    height: 130vh;
    font-weight: 600;
    overflow: none;
}

body::-webkit-scrollbar {
    display: none;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}
