:root {
    --main-color: #c9b392;
    --back-color: #dad1b4;
    --green-tea: rgb(65, 109, 71);
    --horizontal-space: 25px;
    --part-border: 2px solid rgba(0, 0, 0, 0.2);
    --gray-font: rgba(0, 0, 0, 0.5);
}
