#chat-screen {
    background-color: var(--back-color);
    height: 100vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.status-bar__chat {
    background-color: var(--back-color);
}

.alt-header__chat {
    background-color: var(--main-color);
}

@keyframes fadeInDown {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}
.chat__timestamp {
    color: white;
    background-color: var(--main-color);
    padding: 15px;
    font-size: 14px;
    border-radius: 25px;
    margin-bottom: 30px;
    transition: all 1s linear;
    animation: fadeInDown 0.6s linear;
}
@keyframes fadeInLeft {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}
@keyframes fadeInRight {
    from {
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}
.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    opacity: 0;
    animation: fadeInLeft 0.8s linear forwards;
    z-index: 1;
}

.message-row__own {
    justify-content: flex-end;
    opacity: 0;
    animation: fadeInRight 0.7s linear forwards;
}

.main-chat {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.message-row img {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    margin-right: 15px;
}

.message__author {
    display: block;
    margin-bottom: 5px;
}

.message__bubble {
    background-color: white;
    padding: 13px;
    font-size: 18px;
    border-radius: 15px;
    margin-right: 5px;
    border-top-left-radius: 0%;
    max-width: 50%;
}

.message__info {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    position: relative;
}

.message__time,
.message__author {
    opacity: 0.8;
    font-size: 15px;
}

.message-row__own .message__bubble {
    background-color: var(--main-color);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;
}

.message-row__own .message__info {
    flex-direction: row-reverse;
}

.message-row__img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Img from me*/
.message-row__img img {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 10px;
}
/* Img from someone*/
.message__img img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
/* --------------------*/
.message-1st {
    animation-delay: 0.2s;
}
.message-2nd {
    animation-delay: 0.5s;
}
.message-3rd {
    animation-delay: 0.8s;
}
.message-4th {
    animation-delay: 1.1s;
}
.message-5th {
    animation-delay: 1.4s;
}
.message-6th {
    animation-delay: 1.7s;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #c29c64;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.reply .reply__column:first-child {
    width: 10%;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply__column:last-child button {
    position: absolute;
    right: 0px;
    top: 3px;
}
.reply__column:last-child > i {
    position: absolute;
    margin-top: 6px;
}

.reply__column:last-child > i {
    right: 40px;
    top: 10px;
}

.reply i {
    opacity: 0.5;
}

.reply__column button i {
    opacity: 1;
}

.reply__column button {
    background-color: var(--back-color);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
    opacity: 0;
}

.reply input:focus {
    width: 98vw;
    transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
    transform: translateY(80px);
}

.fa-reply {
    font-size: 20px;
    margin-left: 10px;
    opacity: 0;
    transition: all 0.5s linear;
}

.message__info:hover .fa-reply {
    opacity: 1;
}

.fa-times-circle {
    margin-right: 10px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.5s linear;
}

.message__info:hover .fa-times-circle {
    opacity: 1;
}

.message-row img {
    transition: all 1s linear;
}

@keyframes imgVibrate {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: none;
    }
}

.message-row a > img:hover {
    animation: imgVibrate 1s linear infinite;
}
