/*find icons */

/* recommended friends */
.recommended-friends {
    margin: 25px 0;
    padding: 25px 0;
    border-top: var(--part-border);
    border-bottom: var(--part-border);
    height: 400px;
}

.recommended-friends__title {
    font-size: 20px;
    color: var(--gray-font);
}

.recommended-friends span {
    display: block;
    margin: 180px 0;
    text-align: center;
    font-size: 18px;
    color: var(--gray-font);
}
/*open chat header */
.open-chat {
    display: flex;
    flex-direction: column;
}

.open-chat__header {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    margin-bottom: 25px;
}

.open-chat__header i {
    margin-left: 5px;
}

.open-chat__header h4 {
    opacity: 0.7;
}

#open-chat__home {
    opacity: 0.7;
}
/*open chat post*/

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: var(--part-border);
    font-size: 20px;
}

.open-post__title {
    margin-bottom: 10px;
    font-size: 25px;
}

.open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.7;
}

.open-post__members {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.open-post__members img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 7px;
}

.open-post__member-count {
    opacity: 0.7;
    font-size: 20px;
}

.open-post__members .divider {
    width: 2px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 7px;
}

.open-post__member-status {
    color: hotpink;
}

/* second open post column */

.open-post__photo {
    position: relative;
}

.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    font-size: 15px;
}

.open-post__heart-count span {
    margin-left: 5px;
}

.open-chat :last-child {
    border: none;
}
