#friends-display-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background-color: #ece9e9f3;
    position: relative;
    top: 120px;
    font-size: 18px;
    z-index: -1;
}

#friends-display-link i {
    margin: 0 8px;
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    position: relative;
    top: 0px;
    z-index: -1;
    margin-top: 30px;
    border-top: var(--part-border);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.friends-screen__channel .user-component {
    position: relative;
    top: 0px;
}

.user-component__profile {
    margin-top: 150px;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--yellow);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 1s;
    z-index: 3;
}
