#friends-screen {
    height: 100vh;
}
#friends-display-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    position: relative;
    top: 120px;
    font-size: 18px;
}

#friends-display-link i {
    margin: 0 8px;
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    position: relative;
    top: 0px;
    margin-top: 30px;
    border-top: var(--part-border);
    padding-top: 15px;
}

.friends-screen__channel-header,
.friends-screen__friends-header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.friends-screen__friends-header {
    border-top: var(--part-border);
    padding-top: 15px;
}

.user-component__profile {
    margin-top: 150px;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--main-color);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: hideSplashScreen 0.5s ease-in-out forwards;
    animation-delay: 1s;
    z-index: 3;
    will-change: transform;
}

#splash-screen i {
    font-size: 100px;
    margin-bottom: 20px;
    transition: all 1s linear;
}

#splash-screen span {
    font-size: 30px;
}

@keyframes rotateLoading {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

#splash-screen i {
    animation: rotateLoading 3s linear infinite;
}
