#friends-display-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background-color: #ece9e9f3;
    position: relative;
    top: 112px;
    font-size: 18px;
    z-index: -1;
}

#friends-display-link i {
    margin: 0 8px;
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    position: relative;
    top: 112px;
    z-index: -1;
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}
