.welcome-header {
    padding-top: 50px;
    margin-bottom: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 90px;
}

.welcome-header__title {
    margin-bottom: 20px;
    font-size: 35px;
}

.welcome-header__text {
    width: 60%;
    color: var(--gray-font);
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    position: sticky;
    top: 350px;
}

.login-form__input {
    padding: 15px 0;
    border: none;
    font-size: 18px;
    margin-bottom: 25px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}

.login-form__input::placeholder {
    color: var(--gray-font);
}

.login-form__input:focus {
    border-color: var(--yellow);
}

.login-form__input__btn {
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0;
    border-radius: 10px;
    border: none;
    align-items: center;
    font-size: 16px;
    margin-bottom: 25px;
    border: none;
}

.login-form__a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}
