#settings-body {
    height: 150vh;
}

.settings__setting {
    padding: 35px 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    height: 15px;
}

.settings__setting i {
    opacity: 0.9;
    margin-right: 20px;
    font-size: 22px;
}

.settings__setting-column {
    display: flex;
    align-items: center;
    position: relative;
}

.settings__setting-column-version {
    opacity: 0.7;
}

.settings__setting-column :nth-child(2) {
    margin-right: 10px;
}

.settings-list {
    position: relative;
    top: 120px;
    z-index: 1;
}

.settings__setting:hover {
    background-color: var(--main-color);
}

.settings__setting i {
    transition: all 0.5s linear;
    transition-delay: 0.1s;
}

.settings__setting:hover i {
    font-size: 30px;
}
