.settings__setting {
    padding: 40px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i {
    opacity: 0.9;
    margin-right: 20px;
    font-size: 22px;
}

.settings__setting-column {
    display: flex;
    align-items: center;
    position: relative;
}

.settings__setting-column-version {
    opacity: 0.7;
}

.settings-list :nth-child(3) {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
}

.settings__setting-column :nth-child(2) {
    margin-right: 10px;
}

.settings-list {
    z-index: -1;
    position: relative;
    top: 110px;
}
