.alt-header {
    padding: 15px var(--horizontal-space);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    z-index: 2;
}

.alt-header i {
    font-size: 25px;
}

.alt-header__title {
    font-size: 28px;
    font-weight: 600;
}

.alt-header__column {
    width: 33.3%;
}

.alt-header__column:last-child span:not(:first-child) {
    margin-left: 20px;
}

.alt-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.alt-header :nth-child(2) {
    text-align: center;
}
