.icon-raw {
    position: relative;
    display: flex;
}

.icon-raw__icon {
    width: 25%;
}

.icon-raw__icon span {
    text-align: center;
}

.icon-raw__icon:hover .icon-raw__icon-background {
    background-color: var(--yellow);
}
