.icon-raw {
    position: relative;
    display: flex;
    margin-top: 20px;
}

.icon-raw__icon {
    width: 25%;
}

.icon-raw__icon span {
    text-align: center;
}

.icon-raw__icon:hover .icon-raw__icon-background {
    background-color: var(--main-color);
}

.icon-raw__icon .icon-raw__icon-background {
    background-color: #e4e6e4;
}
