.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1.5px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2e363e;
    position: relative;
}
.nav__notification {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.nav__dot {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    position: absolute;
    right: -7px;
}
