.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    position: sticky;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    top: 42px;
    background-color: white;
}
.screen-header__title {
    font-size: 32px;
}

.screen-header__icons span {
    margin-left: 30px;
}

.screen-header__icons {
    display: flex;
    position: relative;
}

.screen-header__icons-icon {
    position: relative;
}
