.user-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0px;
    z-index: -1;
    margin-bottom: 10px;
}

.user-component:first-child {
    margin-top: 20px;
}
.user-component:last-child {
    position: relative;
    top: 0px;
    z-index: -1;
}

.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__title {
    font-size: 22px;
    font-weight: 900;
}

.user-component__subtitle {
    margin-top: 8px;
    font-size: 17px;
    color: var(--gray-font);
}

.user-component__subtitle i {
    color: tomato;
}

.user-component__avatar__xl {
    width: 80px;
    height: 80px;
    border-radius: 30px;
}

.user-component__avatar__sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__time {
    margin-bottom: 10px;
    display: block;
}
